// Here you can add other styles


// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.lds-spinner div {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
  animation: lds-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes lds-spinner {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}