
img {
  height: 100%;
  object-fit: cover;
}

.list-container {
  display: flex;
  overflow-x: hidden;
 
}

.cards-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Hide the scrollbar */
  -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
}

.cards-container c-card {
  flex: 0 0 auto;
  margin-right: 10px; /* Add some spacing between cards */
}

.more-button {
  margin: 8px; /* Add some spacing between the cards and the button */
}