

   
      <c-card-body class="table-responsive">
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border table-container"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th class="bg-body-tertiary ">Last 10 Orders</th>
              <th class="bg-body-tertiary text-center">Table No</th>
              <th class="bg-body-tertiary text-center">Status</th>
              <th class="bg-body-tertiary text-center">Served By</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track user.name; let i = $index) {
            <tr>
              <td class="text-center">
                <c-avatar
                  [size]="'md'"
                  src="{{ user.avatar }}"
                  status="{{ user.status }}"
                />
              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-body-secondary text-nowrap">
                  <span>
                    {{ user.state }} | Registered: {{ user.registered }}
                  </span>
                </div>
              </td>
              <td class="text-center">
                <div class="float-center">
                  <strong>{{ user.usage }}</strong>
                </div>
              </td>
              <td class="text-center">
                <c-badge class="ms-2 float-center" color="success"> PAID</c-badge>
              </td>
              <td class="text-center">
                
                
                  <div class="float-center ms-1 ">
                    <small class="text-body-secondary">
                      {{ user.name }}
                    </small>
                  </div>
               
                
              </td>
            
            </tr>
            }
          </tbody>
        </table>
      </c-card-body>
   
 